.outterDiv{
  display: flex;
  flex: 1;
  height: auto;
}
.columnView{
  flex-direction: column;
}
.rowView{
  flex-direction: row;
}
.ulNoneBullet{
  list-style-type: none;
}
.display-picture{
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
}
.greyed-out{
  color: #E9E9E9 !important;
}
/*  Contact List */
.contactList{
  padding: 2%;
  flex: 1;
  background-color: #79CCE1;
  height: 100%;
};
/* Contact Details */
.contactDetails{

};
.tableContactDetails{
  padding: 2%;
}
table,tr, td, tbody{
  /* border: 1px solid black; */

}
tr, td{
  font-size: 20px;
}
a:hover{
  cursor: pointer;
}
